.container {
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 20px;
}
.container button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
.container button {
  margin-left: -8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  position: relative;
}
.value {
  margin-top: -4px;
  text-transform: uppercase;
}
.SVG {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--soft_text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container button:hover {
  cursor: pointer;
  background-color: var(--background_2);
}
.container button:hover .SVG {
  fill: black;
}

@media (max-width: 640px) {
  .container {
    background-color: white;
    color: var(--text);
    border-bottom: 1px solid var(--border);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    gap: 8px;
    padding: 8px 16px;
  }
}
